[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "lprdup"]
	path = lprdup
	url = https://github.com/sbungartz/lprdup
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
